@import "tailwindcss";

@theme inline {
  --color-primary: #E8622A;
  --color-dark: #1A1208;
  --color-cream: #F7F3EC;
  --color-muted: #8C8578;
  --color-safety: #5ECBA1;
  --font-sans: var(--font-nunito);
}

body {
  background-color: #F7F3EC;
  color: #1A1208;
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}
